* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.backWrapper {
    background-color: var(--white);
    font-weight: 600;
    padding: 1.5rem;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #00000029;
    border-radius: 8px;
}

.backWrapper .flightOuterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backWrapper .flightOuterWrapper .flightname {
    font-size: var(--black);
    font-weight: 400;
    font-size: 1rem;
}

.backWrapper .flightOuterWrapper .flightTime {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0rem;
}

.backWrapper .flightOuterWrapper .flightDest {
    color: var(--grey);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0rem;
    text-align: center;
}

.backWrapper .flightOuterWrapper .timeDuration {
    color: var(--grey);
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 0rem;
}

.backWrapper .flightOuterWrapper .symbol {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--red);
}

.backWrapper .flightOuterWrapper .totalAmount {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--red);
}

.backWrapper .flightViewDetail {
    width: 70px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.backWrapper .flightViewDetail .flightdate {
    font-size: 0.9rem;
    color: var(--grey);
    font-weight: 400;
}

.backWrapper .spaceLine .a95dc-text-inherit {
    color: var(--grey);
    font-weight: 600;
}

.backWrapper .spaceLine .a95dc-fill-inherit {
    color: var(--grey);
    font-weight: 600;
}

.backWrapper .spaceLine .a95dc-bg-deprecated-neutral-5 {
    color: #a8b3cb;
    font-weight: 500;
}

.backWrapper .spaceLine .a95dc-h-full {
    height: 100%;
}

.backWrapper .spaceLine .jBFffN {
    fill: rgb(107, 115, 136);
    min-width: 12px;
    min-height: 12px;
    max-width: 12px;
    max-height: 12px;
}

.backWrapper .detailsData {
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
}

.backWrapper .detailsData .flightName {
    color: var(--grey);
    font-weight: 500;
    font-size: 0.9rem;
}

.backWrapper .detailsData .airportname {
    color: var(--black);
    font-weight: 400;
}

.backWrapper .selectbtn {
    background-color: var(--blue);
    font-weight: 600;
    color: var(--white);
    padding: 0.6rem 0.9rem;
    outline: none;
    border: none;
    display: block;
    text-align: center;
    border-radius: 10px;
    width: 20%;
}

.backWrapper .innerSubtn{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--white);
    font-weight: 600;
}