.activityHeader{
    background:url(https://res.cloudinary.com/dixfg1bvv/image/upload/v1724846532/homepage-hero-xl_kdvqx8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 75dvh;
    color: var(--white);
}
.activityHeader h1{
    font-size: 4rem;
    font-weight: 700;
    padding-top: 10rem;
    padding-left: 7rem;
}
.activityHeader span{
    padding-top: 7rem;
    padding-left: 7rem;
}