.reviewTile{
    width: 31%;
    height: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #737373;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #5392F9;
}
.reviewHotelName{
    font-size: 25px;
    font-weight: 700;
    color: #5392F9;
    margin-bottom: 1%;
}
.reviewPlace{
    font-size: 20px;
    color: #737373;
    margin-bottom: 1%;
}
.reviewText{
    line-height: 1.7rem;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.reviewerName{
    font-size: 18px;
    color: #737373;
}
