.newDestinations img{
    height: 100%;
    width: 100%;  
    border-radius: 10px;
    position: relative;
    z-index: 0;
}  
.newDestinations{
    justify-content: center;
    margin-top: -4rem;
    margin-bottom: 2rem;
}  
.newDestionSlide{
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    height: 4rem;
    width: 85%;
    z-index: 2;
    border-radius: 5px 5px 5px 5px;
    position: relative;;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top:-1.5rem ;
    margin-left: 7%;
}
.newDestionSlide p{
    margin: 0;
    font-weight: 600;
    padding: 5px;
 }
 .aboutDestination{
    margin-left: 2rem;
 }
 