* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.stepper-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.step-number {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: var(--grey);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: relative;
    z-index: 9999;
}

.step-number.active {
    background-color: var(--green);
    background-color: var(--blue);
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: relative;
    z-index: 9999;
}

.step-label {
    margin-bottom: 0rem;
    font-size: 1rem;
    text-align: center;
    padding: 0px 0px;
    margin-top: -8px;
}
.active{
    border-bottom: 2px solid #5392F9;
    cursor: pointer;
    padding: 0.4px;
    font-size: 19px;
    font-weight: 400;
}
/* .lineStepper {
    position: relative;
    width: 75%;
    height: 1.5px;
    display: flex;
    background-color: var(--black);
    top: -1.1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
} */

/**********MEDIA QUERY START**********/
@media screen and (max-width: 991px) {
    .stepper {
        justify-content: space-between;
    }
}